openapi: 3.0.3
info:
  title: 'Rest API Sanctum'
  description: 'Rest API Sanctum general api admin docs.'
  version: 1.0.0
servers:
  -
    url: 'http://rest-api-sanctum.develop:8080'
paths:
  /api_admin/auth/login:
    post:
      summary: 'Handle an incoming login request.'
      operationId: handleAnIncomingLoginRequest
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: validation_error
                  body:
                    email:
                      - 'Las credecnciales introducidas son incorrectas.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: validation_error
                  body:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'Las credecnciales introducidas son incorrectas.'
                        items:
                          type: string
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'El formato del value es inválido.'
                  example: stroman.emerald@example.com
                password:
                  type: string
                  description: 'El campo value debe tener al menos 8 caracteres.'
                  example: 'z~a}F]LU>*cE'
              required:
                - email
                - password
      security: []
  /api_admin/auth/logout:
    post:
      summary: 'Handle and incoming logout request'
      operationId: handleAndIncomingLogoutRequest
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
  /api_admin/permissions:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
  /api_admin/roles:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
  '/api_admin/roles/{role_uuid}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: role_uuid
        description: ''
        example: 49e03671-83ef-4edb-b5c9-416fefbe0f87
        required: true
        schema:
          type: string
  /api_admin/admins:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
  '/api_admin/admins/{admin_uuid}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: admin_uuid
        description: ''
        example: 456b0dd8-d10d-4800-a48e-bdab84343648
        required: true
        schema:
          type: string
  '/api_admin/admins/{admin_uuid}/disable':
    patch:
      summary: 'Disable the specified resource from storage.'
      operationId: disableTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: '*/*'
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '0'
                  type: authentication_error
                  body: 'No autenticado.'
                properties:
                  code:
                    type: string
                    example: '0'
                  type:
                    type: string
                    example: authentication_error
                  body:
                    type: string
                    example: 'No autenticado.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: admin_uuid
        description: ''
        example: 456b0dd8-d10d-4800-a48e-bdab84343648
        required: true
        schema:
          type: string
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
